.inner {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 1180px;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(11, 1fr);
}
.close {
  position: absolute;
  top: 1em;
  right: 1em;
}
.gutter {
  width: 80px;
  align-self: center;
}
.leftGutter {
  grid-column-start: 1;
  grid-column-end: 2;
}
.rightGutter {
  grid-column-start: 12;
  grid-column-end: 13;
}
.activeImage {
  height: 100vh;
  grid-column-start: 2;
  grid-column-end: 12;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.5em;
}
.activeImage img {
  max-height: 100%;
}
.detail {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13;
}

@media only screen and (max-width: 767px) {
  .leftGutter {
    display: none;
  }
  .rightGutter {
    display: none;
  }

  .activeImage {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
