@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 980px !important;
  }
}

@media only screen and (min-width: 768px) {
  .homeWrapper {
    background: url("/images/background/rafael-de-nadai-b0eg-PYGICQ-unsplash-large.jpg");
  }
  .loginWrapper {
    background: url("/images/background/adrian-Xft-JdC-Jbc-unsplash-large.jpeg");
  }
  .hp-header {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 2rem 0;
  }

  .hp-slogan {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.01em;
    font-weight: 200;
    color: #666666;
  }
}

@media only screen and (max-width: 767px) {
  .homeWrapper {
    background: url("/images/background/rafael-de-nadai-b0eg-PYGICQ-unsplash-small.jpg");
  }
  .loginWrapper {
    background: url("/images/background/adrian-Xft-JdC-Jbc-unsplash-small.jpeg");
  }
  .hp-header {
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    margin: 1rem 0;
  }
  .hp-slogan {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
    color: #666666;
  }

  .ui.items:not(.unstackable) > .item > .image,
  .ui.items:not(.unstackable) > .item > .image > img {
    overflow: hidden;
  }
}

.ui.items > .item > .image:not(.ui) {
  width: 275px;
}

.dnaWrapper #deniFooter {
  border-top: 2px solid #cccccc;
}

#copyRight {
  text-align: center;
  color: #000000;
}

.sidebar::-webkit-scrollbar,
.ck-dropdown__panel::-webkit-scrollbar {
  display: none;
}

.sidebar,
.ck-dropdown__panel {
  -ms-overflow-style: none;
}

#deniApps {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /** this is super important **/
  overflow-wrap: break-word;
}
#deniFooter {
  margin: auto auto 0 auto;
  width: 100%;
}

.coverPage {
  margin: auto 0;
}

#deniApps.homeWrapper {
  height: 100vh;
}

.deniPage {
  margin: 2em 0 4em;
  padding-top: 4em;
}

.ck-editor__editable_inline {
  min-height: 400px !important;
}

/* h2 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
} */

h1.huge {
  font-size: 3em !important;
}

.pusher.dimmed {
  height: 100vh;
  overflow: hidden;
}

.homeWrapper,
.loginWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.topPadding {
  padding-top: 7em;
}

.topPadding1 {
  padding-top: 1em;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
.scroll::-webkit-scrollbar {
  display: none;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  color: rgba(117, 117, 117, 1);
  text-align: center;
  font-size: small;
  margin: 0.5em 0 1em;
}

.ck-content figure.table {
  display: block;
}

figure.table {
  margin-bottom: 1em;
}
