body {
  font-size: 16px;
  overflow-x: clip !important;
}
input,
select {
  font-size: 100%;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 980px !important;
  }
}

@media only screen and (min-width: 768px) {
  .homeWrapper {
    background: url("https://deniapps.com/images/background/rafael-de-nadai-b0eg-PYGICQ-unsplash-large.jpg");
  }
  .loginWrapper {
    background: url("https://deniapps.com/images/background/adrian-Xft-JdC-Jbc-unsplash-large.jpeg");
  }
  .hp-header {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 2rem 0;
  }

  .hp-slogan {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.01em;
    font-weight: 200;
    color: #666666;
  }
}

@media only screen and (max-width: 767px) {
  .homeWrapper {
    background: url("https://deniapps.com/images/background/rafael-de-nadai-b0eg-PYGICQ-unsplash-small.jpg");
  }
  .loginWrapper {
    background: url("https://deniapps.com/images/background/adrian-Xft-JdC-Jbc-unsplash-small.jpeg");
  }
  .hp-header {
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    margin: 1rem 0;
  }
  .hp-slogan {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
    color: #666666;
  }

  .ui.items:not(.unstackable) > .item > .image,
  .ui.items:not(.unstackable) > .item > .image > img {
    overflow: hidden;
  }
  .deniPage {
    margin: 0 0 4em;
    padding-top: 4em;
  }

  table.dnxTable {
    border: none !important;
  }

  table.dnxTable th,
  table.dnxTable td {
    padding: 1em 0.5em;
    position: relative;
  }

  /*** TABLE ***/
  table.dnxTable tr,
  table.dnxTable td,
  table.dnxTable tfoot {
    display: block !important;
    width: 100%;
  }

  table.denxTable tbody tr {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }

  table.denxTable tfoot tr {
    border: none !important;
  }

  table.dnxTable td {
    border-top: none !important;
    border-left: none !important;
  }
  table.dnxTable tbody tr {
    padding: 0.25em 0;
    border: 1px solid rgba(34, 36, 38, 0.2);
    /* padding: 0.25em; */
  }

  table.dnxTable tbody tr:not(:last-child) {
    margin-bottom: 0.25em;
  }

  /* Header */
  table.dnxTable thead {
    display: none !important;
  }

  /* Body */
  table.dnxTable tbody td {
    padding: 0.3em 0.5em 0.3em 7.5em !important;
  }

  .dnxTable td:not(:last-child) {
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  }

  table.dnxTable tbody td:before {
    content: attr(data-label);
    left: 0.5em;
    position: absolute;
    top: 0.15em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 6em;
    overflow: hidden;
  }
}

.ui.items > .item > .image:not(.ui) {
  width: 275px;
}

.dnaWrapper #deniFooter {
  border-top: 2px solid #cccccc;
}

#deniFooter a {
  color: #000000;
}

#deniFooter a:hover {
  color: #62dafb;
}

#copyRight {
  text-align: center;
  color: #000000;
}

.sidebar::-webkit-scrollbar,
.ck-dropdown__panel::-webkit-scrollbar {
  display: none;
}

.sidebar,
.ck-dropdown__panel {
  -ms-overflow-style: none;
}

#deniApps {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /** this is super important **/
  overflow-wrap: break-word;
}
#deniFooter {
  margin: auto auto 0 auto;
  width: 100%;
}

.coverPage {
  margin: auto 0;
}

#deniApps.homeWrapper {
  height: 100vh;
}

.deniPage {
  margin: 1em 0 4em;
  padding-top: 5em;
}

.deniPage h1 {
  padding: 0.5em 0 !important;
  border-bottom: 2px solid #ccc !important;
}

.deniPage a {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
}

.deniPage a:hover {
  background-color: #bbeffd;
  border-bottom-color: #1a1a1a;
}

.ck-editor__editable_inline {
  min-height: 400px !important;
}

/* h2 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
} */

h1.huge {
  font-size: 3em !important;
}

.pusher.dimmed {
  height: 100vh;
  overflow: hidden;
}

.homeWrapper,
.loginWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.topPadding {
  padding-top: 7em;
}

.topPadding1 {
  padding-top: 1em;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

/* [5] */
.scroll::-webkit-scrollbar {
  display: none;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  color: rgba(117, 117, 117, 1);
  text-align: center;
  font-size: small;
  margin: 0.5em 0 1em;
}

.ck-content figure.table {
  display: block;
}

figure.table {
  margin-bottom: 1em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  margin-right: 0.1em;
  font-family: serif;
}
blockquote p {
  display: inline;
  font-style: italic;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

code {
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
}
