{
  "host": "api.deniapps.com",
  "port": "PORT",
  "public": "public/",
  "paginate": {
    "default": 10,
    "max": 50
  },
  "fileServer": "http://localhost:3000/upload",
  "filePath": "/Users/dcai/Projects/next-feathers/next/public/upload",
  "mongodb": "mongodb://localhost:27017/deniUser",
  "mongoUser": "user",
  "mongoPass": "pass",
  "authentication": {
    "secret": "1232b7c97bd6289e-MAKE-YOUR-UNIQUE-SECRET!!!",
    "strategies": ["jwt", "local"],
    "path": "/authentication",
    "service": "users",
    "jwtOptions": {
      "header": {
        "typ": "access"
      },
      "audience": "https://deniapps.com",
      "issuer": "feathers",
      "algorithm": "HS256",
      "expiresIn": "1d"
    },
    "local": {
      "entity": "user",
      "usernameField": "email",
      "passwordField": "password"
    }
  }
}
