# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead.

PRODUCTION_ENV_VARIABLE="server_only_production_variable"
NEXT_PUBLIC_PRODUCTION_ENV_VARIABLE="public_production_variable"

# CHANGE THIS FILE TO .env.produciton, and use it to override .env for production
# To learn more about .env, please check https://deniapps.com/blog/set-environment-variables-in-nextjs

NEXT_PUBLIC_API_HOST="https://api.deniapps.com"
# We use localStorage to save loginUser info, set unique key here,
# and could be distinguished by ENV
NEXT_PUBLIC_USER_LC_KEY= "DENIUSER-PROD"