# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead.

PRODUCTION_ENV_VARIABLE="server_only_production_variable"
NEXT_PUBLIC_PRODUCTION_ENV_VARIABLE="public_production_variable"

# CHANGE THIS FILE TO .env.produciton, and use it to override .env for production
# To learn more about .env, please check https://deniapps.com/blog/set-environment-variables-in-nextjs

NEXT_PUBLIC_SITE_NAME="DENIAPPS"
NEXT_PUBLIC_SITE_BLOG_BASEURL="https://deniapps.com/blog"
NEXT_PUBLIC_PAGE_SIZE=20

NEXT_PUBLIC_API_HOST="https://api.deniapps.com"

# We use localStorage to save loginUser info, set unique key here,
NEXT_PUBLIC_USER_LC_KEY= "DENIUSER-PROD"
# Turn on/off Disqus
# If Disqus is turned on, then you need define the shortname which should be get from disqus.com.
NEXT_PUBLIC_DISQUS="off"
NEXT_PUBLIC_DISQUS_SHORTNAME=""
NEXT_PUBLIC_ANALYTICS_ID=""